      <tr style="height:45px; vertical-align:top;">
        <td><font size="+1"><b><a href="https://atlas-lumicalc.cern.ch/">ATLAS Luminosity Calculator</a></b></font> </td>
        <td style="padding-right: 0px;">
          <table style="border-spacing:6px; margin-left:auto; margin-right:12px">
            <tr>
              <td class="dontPrint" style="border: 1px white solid; padding: 0.3em; width: 56px; text-align:center; font-size: 100%; vertical-align: middle;">
                <a href="mailto:atlas-data-preparation-help@cern.ch" title="Contact and support">
                  Contact
                </a>
              </td>
              <td class="dontPrint" style="border: 1px white solid; padding: 0.3em; width: 35px; text-align:center; font-size: 100%">
                <a href="https://twiki.cern.ch/twiki/bin/view/AtlasComputing/CoolLumiCalcTutorial" title="Help on iLumiCalc.exe">
                  Help
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height:20px">
        <td colspan="2">
          <table class="toptableLinks">
            <tr>
	    <td><a href="https://twiki.cern.ch/twiki/bin/view/AtlasProtected/GoodRunListsForAnalysisRun3">GRL (Run3)</a></td>
	    <td><a href="https://twiki.cern.ch/twiki/bin/view/AtlasProtected/GoodRunListsForAnalysisRun2">GRL (Run2)</a></td>
	    <td><a href="https://atlas-datasummary.cern.ch/">Data Summary</a></td>
            <td><a href="http://atlas-runquery.cern.ch/">Run Query</a></td>
            <td><a href="https://twiki.cern.ch/twiki/bin/view/Atlas/DataPreparation">Data Preparation</a></td>
            </tr>
          </table>
        </td>
      </tr>
